<div class = "sidebar">

	<div class = "profile">
		<img src="/images/profilepic.png">
		<p>Name</p>
	</div>

	<div class = "tabs">
		<p>Your Industry</p>
		<a href = "/list">Compare Companies</a>
	</div>

	<div class = "options">
		<p>Change Industry</p>
		<div class="sidebar-changeInd">
			<button id="sidebar-indDropBtn">Choose an Industry</button>
			<div id="sidebar-indDropContent">
			    <a href="/home">Design</a>
			    <a href="/home">Computer Science</a>
			    <a href="/home">Health & Medicine</a>
		  	</div>
		</div>
		<p>Login/Logout</p>
	</div>

</div>
