<div class = "sidebar">

	<div class = "sidebar-top">
		<div class = "app-name">
			JUXTA
		</div>
	</div>

	<div class = "profile">
		<img src="/images/profilepic.png">
		<p>Name</p>
		<div class="sidebar-changeInd">
			<button id="sidebar-indDropBtn">Change Your Industry</button>
			<div id="sidebar-indDropContent">
			    <a href="/home">Design</a>
			    <a href="/home">Computer Science</a>
			    <a href="/home">Health & Medicine</a>
		  	</div>
		</div>
	</div>

	<div class = "tabs">
		<p><a href="/home">Your Industry &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></p>
		<p><a href="/list">Compare Companies &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></p>
	</div>

	<div class = "options">
		<p><a href="/">Login/Logout</a></p>
	</div>

</div>
