<div class = "sidebar">

	<div class = "sidebar-top">
		<div class = "app-name">
			JUXTA
		</div>
	</div>

	<div class = "profile">
		<img id = "profPic" src="{{users.pictureUrl}}">
		<p id = "profName">{{users.firstName}} {{users.lastName}}</p>

		<p style="text-align: left; padding-left: 5%">Current Industry: <b>{{users.industry}}</b></p>	
		<select id="industry-select-side">
		    <option selected disabled>Choose an Industry</option>
		    <option value="Computer and Mathematical Occupations">Computer and Mathematical Occupations</option>
		</select>

		<p style="text-align: left; padding-left: 5%">Current Location: <b>San Diego</b></p>
		<select id="location-select-side">
		    <option selected disabled>Choose a Location</option>
		    <option value="San Diego">San Diego</option>
		    <!-- <option value="San Fransico">San Fransico</option> -->
		</select>

		<button id="submit-side">GO</button>
	</div>

	<div class = "tabs">
		<p><a href="/home">Compare Companies</a></p>
		<p><a href="/industry">Industry Stats</a></p>
	</div>

	<div class = "options">
		<p><a href="/logout">Login/Logout</a></p>
	</div>

</div>
