{{> sidebar}}

<div id = "listView">

  <h3 id = "explore">Explore Companies:<span><img id = "searchIcon" src = "../images/search.png"><input type = "text" id = "search" placeholder=" Search for Companies"></span></h3>

  <div id = "matches">

    <div class = "compRow" id = "row1">

    </div>

    <div class = "compRow" id = "row2">

    </div>

    <div class = "compRow" id = "row3">

    </div>

  </div>

  <div id = "compare">

    <h3 id = "tocompare">To Compare:</h3>

    <button id = "compareButton" onclick = "scroll()">Compare!</button>

  </div>
</div>


<div id = "space">

  <div id = "comprow1">

    <div class = "comp1div">

      <canvas id = "comp1" width = "400" height = "400"></canvas>
    </div>

    <div class = "comp1div">  
      <canvas id = "comp2" width = "400" height = "400"></canvas>
    </div>

    <div class = "comp1div">
      <canvas id = "comp3" width = "400" height = "400"></canvas>
    </div>

  </div>

  <div id = "comprow2">
    <div class = "comp1div">
      <canvas id = "comp4" width = "400" height = "400"></canvas>
    </div>

    <div class = "comp1div">
      <canvas id = "comp5" width = "400" height = "400"></canvas>
    </div>

    <div class = "comp1div">
      <canvas id = "comp6" width = "400" height = "400"></canvas>
    </div>
  </div>
</div>