{{> sidebar}}

<div id = "listView">

	<h3 id = "explore">Explore Companies:<span><img id = "searchIcon" src = "../images/search.png"><input type = "text" id = "search" placeholder=" Search for Companies"></span></h3>

	<div id = "matches">

		<div class = "compRow" id = "row1">

		</div>

		<div class = "compRow" id = "row2">

		</div>

		<div class = "compRow" id = "row3">

		</div>

	</div>

	<div id = "compare">

		<h3 id = "tocompare">To Compare:</h3>

		<button id = "compareButton" onclick = "scroll()">Compare!</button>

	</div>
</div>


<div id = "space">

		<h1> Compare </h1>

		<img src = "/images/radar.png" width="600px">

</div>