<div class=login-page>
	<div id="login-section-first">
		<div id="login-title">
			<h1>JUXTA</h1>
			<h2>A tool for exploring industries<br>to help you find your <em>closest</em> match</h2>
			<a href="#login-section-third">
				<button class="btn-start">
					Get Started
				</button>
			</a>
		</div>
		<div id="login-arrow">
				<a href="#login-section-second"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>

	<div id="login-section-second">
		<ul class="more-info">
			<li class="more-info-img">
				<img src="https://www.sassieshop.com/site/demos/clients/reports/linegraph.gif" />
			</li>
			<li class="more-info-details">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
			</li>
		</ul>
	</div>

	<div id="login-section-third">
		<div class="linkedin">
			<a href="/auth/linkedin">
				<img src="/images/linkedin-flat.png" />
				<!-- <button class="btn-login">Click here to log in with LinkedIn</button> -->
			</a>
		</div>
		<div>
			<p id="login-or">- OR -</p>
		</div>
		<div class="choose-industry">
			<div id="industry-dropdown">
				<p>Choose an industry:</p>
			</div>
		</div>
	</div>
</div>