
<div class=login-page>
	<div id="login-section-first">
		<div id="login-title">
			<h1>JUXTA</h1>
			<h2>A tool for exploring industries<br>to help you find your <em>closest</em> match</h2>
			<a href="#login-section-third">
				<button class="start-btn">
					Get Started
				</button>
			</a>
		</div>
		<div id="login-arrow">
				<a href="#login-section-second"><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>

	<div id="login-section-second">
		<ul class="more-info">
			<li class="more-info-img">
				<img src="https://www.sassieshop.com/site/demos/clients/reports/linegraph.gif" />
			</li>
			<li class="more-info-details">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
			</li>
		</ul>
	</div>

	<div id="login-section-third">
		<div class="linkedin">
			<a href="/auth/linkedin">
				<img src="../public/images/linFlat.png"/>
				<!-- <button class="btn-login">Click here to log in with LinkedIn</button> -->
			</a>
		</div>
		<div>
			<p id="login-or">- OR -</p>
		</div>
		<div class="choose-industry">
			<button id="industry-drop-btn">Choose an Industry</button>
			<div id="industry-drop-content">
			    <a href="/home" data-value="design">Design</a>
			    <a href="/home" data-value="computer_science">Computer Science</a>
			    <a href="/home" data-value="health">Health & Medicine</a>
		  	</div>
		</div>
	</div>
</div>

<!-- For smooth scrolling -->
<!-- <script>
	$('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
	        || location.hostname == this.hostname) {

	        var target = $(this.hash);
	        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	           if (target.length) {
	             $('html,body').animate({
	                 scrollTop: target.offset().top
	            }, 1000);
	            return false;
	        }
	    }
	});
</script> -->

