/*Color Scheme:
#3399CC Blue (main color)
#CC623C Orange
#131313 Super Dark Gray (background)
#FFFFFF White (text)
#333333 Gray (sidebar)*/

body {
  color: #FFFFFF;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 3vh;
  background-color: #131313;
  margin: 0px;
}

h1 {
  color: #3399CC;
  font-size: 15vh;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 5vh;
  font-family: 'Quattrocento Sans', sans-serif;
}

.login-page {
  top: -10vh;
  left: 0;
  position: absolute;
}

#login-section-first {
  height: 100vh;
  width: 100vw;
  color: auto;
  background-size: cover;
  background: #131313 url(public/images/rightfit.jpg) no-repeat center center;
  text-align: center;
}

#login-title h1 {
  padding-top: 8%;
}

#login-title h2 {
  margin-top: -2%;
}

#login-title div {
  text-align: center;
}

.start-btn {
  background-color: transparent;
  margin-top: 50px;
  height: 10vh;
  width: 20vw;
  border: 3px;
  border-style: solid;
  border-color: #CC623C;
  color: #CC623C;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 3vh;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #CC623C;
  color: #FFFFFF;
}

#login-arrow {
  margin-top: 80px;
  color: #FFFFFF;
}

#login-arrow a {
  color: #FFFFFF;
}

#login-arrow a:visited {
  color: #FFFFFF;
}

#login-arrow a:hover {
  color: #CC623C;
}

#login-section-second {
  height: 100vh;
  width: 100vw;
  background-color: #3399CC;
  text-align: center;
}

.more-info {
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ul.more-info {
  list-style-type: none;
}

.more-info-img {
  height: 50vh;
  float: left;
}

.more-info-details {
  width: 30vw;
  float: left;
  margin-left: 4vw;
}

#login-section-third {
  height: 100vh;
  width: 100vw;
  background-color: #131313;
  text-align: center;
}

.linkedin img {
  width: 25%;
  margin-top: 10%;
}

.btn-login {
  background-color: #00ADB5;
  margin-top: 20%;
  height: 10vh;
  width: 30vw;
  border: none;
  color: #FFFFFF;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 3vh;
}

#login-or {
  margin: 5% 0 5% 0;
}

/* The container <div> - needed to position dropdown content */
.choose-industry {
  position: relative;
  display: inline-block;
}

/* Style dropdown button */
#industry-drop-btn {
  height: 8vh;
  width: 25vw;
  background-color: transparent;
  color: #CC623C;
  font-size: 2.5vh;
  /*font-family: 'Quattrocento Sans', sans-serif;*/
  border: 3px;
  border-style: solid;
  border-color: #CC623C;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
#industry-drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 25vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 2.5vh;
}

/* Links inside dropdown */
#industry-drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#industry-drop-content a:hover {
  color: #CC623C;
}

/* Show dropdown menu on hover */
.choose-industry:hover #industry-drop-content {
    display: block;
}

/* Change the background color of the dropdown button when dropdown content is shown */
.choose-industry:hover #industry-drop-btn {
    background-color: #CC623C;
    color: #FFFFFF;
}

#page-title {
  color: #3399CC; /*white*/
  text-align: center;
  font-size: 7vh;
  font-weight: bold;
  margin-top: -2%;
  font-family: 'Oswald', sans-serif;
}

.container {
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background-color: #333333;
  float: left;
  text-align: center;
  display: inline-block;
}

.not-sidebar {
  height: 100vh;
  width: 78vw;
  float: left;
  overflow: hidden;
}

.sidebar-top {
  background-color: #3399CC;
  height: 8vh;
  font-size: 5vh;
  font-family: 'Oswald', sans-serif;
}

.app-name {
  padding-top: 3px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  color: #CC623C;
}

.profile img {
  height: 80px;
  width: 80px;
  padding-top: 30px;
  margin-bottom: -10px;
}

.tabs {
  padding: 2vh 0 0 2vw;
}

.tabs p {
  padding-bottom: 10px;
  text-align: left;
}

.options {
  /*margin-top: 40%;*/
  padding: 18vh 0 0 2vw;
  text-align: left;
}

/* The container <div> - needed to position dropdown content */
.sidebar-changeInd {
  position: relative;
  display: inline-block;
  /*margin-top: -10px;*/
  padding-bottom: 40px;
}

/* Style dropdown bubtton */
#sidebar-indDropBtn {
  height: 6vh;
  width: 16vw;
  background-color: transparent;
  color: #CC623C;
  font-size: 2.5vh;
  font-family: 'Quattrocento Sans', sans-serif;
  border: 3px;
  border-style: solid;
  border-color: #CC623C;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
#sidebar-indDropContent {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 16vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 2.5vh;
}

/* Links inside dropdown */
#sidebar-indDropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#sidebar-indDropContent a:hover {
  color: #CC623C;
}

/* Show dropdown menu on hover */
.sidebar-changeInd:hover #sidebar-indDropContent {
    display: block;
}

/* Change the background color of the dropdown button when dropdown content is shown */
.sidebar-changeInd:hover #sidebar-indDropBtn {
    background-color: #CC623C;
    border-color: #CC623C;
    color: #FFFFFF;
}

.content {
  text-align: center;
}

/*#map{

  width: 98%;
  height: 800px;
  margin-right: 0px;
  text-align: center;
  margin: 0 auto;
}*/

#back {
  color: #CC623C;
  text-decoration: none;
  padding: 10px 0 0 10px;
}

#back a:visited {
  color: #CC623C;
  text-decoration: none;
}

#back a:hover {
  text-decoration: underline;
}

.compRow{
  width: 100%;
  margin-left: 4%;
}

.compRow h2{
  font-size: 11vh;
  font-family: 'Quattrocento Sans', sans-serif;
}

#matches{
  display: inline-block;
  float: left;
  margin-left: 20vw;
  width:62%;
}

#compare{
  display: inline-block;
  width: 17%;
  float: right;
  margin-top: 1.5%;
  color: white;
  text-align: center;
}
.compTile{
  width: 17.5%;
  height: 240px;
  margin-right: 2.5%;
  margin-top: 2.5%;
  text-align: center;
  display: inline-block;
  float: left;
  color: black;
  background-color: white;
  overlay: hidden;
}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               vertical-align: center;
               display: none;
               width: 16%;
               height: 18%;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

.compTile:hover #overlay {opacity:1;
display: block;
position: absolute;
cursor: pointer;}

#plus       {  font-family:Helvetica;
               line-height: 100%; /*175%*/
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}

#search{
  height: 50px;
  width: 60%;
  margin-left: 2%;
  margin-top: 1.5%;
  font-size: 45px;
  font-family: 'Quattrocento Sans', sans-serif;
  padding-left: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

}

#compareButton{
  width: 75%;
  height: 40px;
  font-size: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: transparent;
  border: 2px;
  border-style: solid;
  border-color: #CC623C;
  color: #CC623C;
}

#compareButton:hover{
  cursor: pointer;
  color: #FFFFFF;
  background-color: #CC623C;
}

.delete{
  color: #CC623C;
}

.delete:hover{
  cursor:pointer;
}

#space{
  /*height: 1700px;*/
  height: 100vh;
  text-align: center;
  margin-bottom: 30px;
}

#space h1 {
  text-align: center;
  vertical-align: middle;
}

#space h2 {
  text-align: center;
  vertical-align: middle;
}

.compimg{
  width: 100%;

}

.compname{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.2vh;
}

h4{
  font-size: 80%;
}

#tocompare{
  margin-top: 0px;
  font-size: 150%;
}

#explore{
  margin-top: 0px;
  margin-bottom: 1%;
  font-size: 5.8vh;
  margin-left: 22.5%;
}

#searchIcon{
  z-index: 10000;
  position: absolute;
  width: 3%;
  top: 50px;
  left: 92%;
}

#listView{
  padding-top: 1.5%;
  height: 100vh;
}