@font-face {
  font-family: 'Droid Serif';
  src: url(https://fonts.googleapis.com/css?family=Droid+Serif);
}

@font-face {
  font-family: 'Lato';
  src: url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
}

body {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  background-color: #00ADB5;
}

h1 {
  color: #00ADB5;
  font-size: 15vh;
  font-family: 'Droid Serif', serif;
}

h2 {
  font-size: 6vh;
}

.login-page {
  /*background-color: #393E46;*/
  top: -10vh;
  left: 0;
  position: absolute;
}

#login-section-first {
  height: 100vh;
  width: 100vw;
  color: auto;
  background-size: cover;
  background: #393E46 url(public/images/rightfit.jpg) no-repeat center center;
  text-align: center;
}

#login-title h1 {
  padding-top: 8%;
  /*letter-spacing: 40px;*/
}

#login-title h2 {
  margin-top: -2%;
}

#login-title div {
  text-align: center;
}

.start-btn {
  background-color: #00ADB5;
  margin-top: 50px;
  height: 10vh;
  width: 20vw;
  border: none;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  cursor: pointer;
}

#login-title a:hover {
  background-color: #FFFFFF;
}

#login-arrow {
  margin-top: 75px;
  color: #FFFFFF;
}

#login-arrow a:visited {
  color: #FFFFFF;
}

#login-arrow a:hover {
  color: #00ADB5;
}

#login-section-second {
  height: 100vh;
  width: 100vw;
  background-color: #00ADB5;
  text-align: center;
}

.more-info {
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ul.more-info {
  list-style-type: none;
}

.more-info-img {
  height: 50vh;
  float: left;
}

.more-info-details {
  width: 30vw;
  float: left;
  margin-left: 4vw;
}

#login-section-third {
  height: 100vh;
  width: 100vw;
  background-color: #393E46;
  text-align: center;
}

.linkedin img {
  width: 25%;
  margin-top: 10%;
}

.btn-login {
  background-color: #00ADB5;
  margin-top: 20%;
  height: 10vh;
  width: 30vw;
  border: none;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
}

#login-or {
  margin: 5% 0 5% 0;
}

/* The container <div> - needed to position dropdown content */
.choose-industry {
  position: relative;
  display: inline-block;
}

/* Style dropdown bubtton */
#industry-drop-btn {
  height: 6vh;
  width: 20vw;
  background-color: #222831;
  color: #FFFFFF;
  font-size: 2.5vh;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
#industry-drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 2.5vh;
}

/* Links inside dropdown */
#industry-drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#industry-drop-content a:hover {
  background-color: #EEEEEEops, no results found!

To Compare:

￼Compare!

}

/* Show dropdown menu on hover */
.choose-industry:hover #industry-drop-content {
    display: block;
}

/* Change the background color of the dropdown button when dropdown content is shown */
.choose-industry:hover #industry-drop-btn {
    background-color: #00ADB5;
}

#page-title {
  color: white;
  text-align: center;
  font-size: 7vh;
  margin-top: -2%;
}

.container {
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: #393E46;
  float: left;
  top: 0;
  left: 0;
  text-align: center;
}

.not-sidebar {
  height: 100vh;
  width: 78vw;
  float: left;
  overflow: hidden;
}

.sidebar p {
  padding-bottom: 10px;
}

.profile img {
  height: 80px;
  width: 80px;
  padding-top: 20px;
  margin-bottom: -10px;
}

.tabs {
  padding: 1vh 0 0 2vw;
  text-align: left;
}

.options {
  padding: 10vh 0 0 2vw;
  text-align: left;
}

/* The container <div> - needed to position dropdown content */
.sidebar-changeInd {
  position: relative;
  display: inline-block;
  margin-top: -10px;
  padding-bottom: 20px;
}

/* Style dropdown bubtton */
#sidebar-indDropBtn {
  height: 6vh;
  width: 16vw;
  background-color: #222831;
  color: #FFFFFF;
  font-size: 2.5vh;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
#sidebar-indDropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 2.5vh;
}

/* Links inside dropdown */
#sidebar-indDropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#sidebar-indDropContent a:hover {
  background-color: #EEEEEE
}

/* Show dropdown menu on hover */
.sidebar-changeInd:hover #sidebar-indDropContent {
    display: block;
}

/* Change the background color of the dropdown button when dropdown content is shown */
.sidebar-changeInd:hover #sidebar-indDropBtn {
    background-color: #00ADB5;
}

.content {
  text-align: center;
}

#map{

  width: 98%;
  height: 800px;
  margin-right: 0px;
  text-align: center;
  margin: 0 auto;
}
.compRow{
  width: 100%;
  margin-left: 4%;
}

.compRow h2{
  color: #00ADB5;
  font-size: 11vh;
  font-family: 'Droid Serif', serif;
}

#matches{
  display: inline-block;
  float: left;
  width: 80%;
}

#compare{
  display: inline-block;
  width: 17%;
  float: left;
  margin-top: 1.5%;
  color: black;
  text-align: center;
}
.compTile{
  width: 20%;
  margin-right: 4%;
  margin-top: 4%;
  text-align: center;
  display: inline-block;
  float: left;
  color: black;
  background-color: white;
  border: 3px solid black;
  overlay: hidden;
}

#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               vertical-align: center;
               display: none;
               width: 16%;
               height: 18%;
               opacity:0;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

.compTile:hover #overlay {opacity:1;
display: block;
position: absolute;
cursor: pointer;}

#plus       {  font-family:Helvetica;
               line-height: 175%;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;}

#search{
  height: 50px;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 45px;
  border: 3px solid black;
  padding-left: 10px;
}

#compareButton{
  width: 75%;
  height: 40px;
  font-size: 25px;
  background-color: green;
  color: white;
}

#compareButton:hover{
  cursor: pointer;
}

.delete{
  color: red;
}

.delete:hover{
  cursor:pointer;
}

#space{
  height: 1700px;

}

#space h1{
  padding-top: 1000px;
  text-align: center;
  vertical-align: middle;
}

#space h2{
  text-align: center;
  vertical-align: middle;
  color: #00ADB5;
  font-size: 11vh;
  font-family: 'Droid Serif', serif;

}